@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius: 0.75rem;
  --chart-1: oklch(0.587 0.099 53.26608569015322);
  --chart-2: oklch(0.699 0.055 55.324987763961985);
  --chart-3: oklch(0.776 0.026 55.96615234561354);
  --chart-4: oklch(0.451 0.086 52.399717254528206);
  --chart-5: oklch(0.344 0.058 53.3351616726999);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.58588 0.22209 17.5549);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.96756 0.00133 286.37516);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.96756 0.00133 286.37516);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --destructive: oklch(0.63683 0.20776 25.32589);
  --destructive-foreground: oklch(0.985 0 0);
  --muted: oklch(0.96955 0 0);
  --muted-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.91944 0.00664 2.0443);
  --input: oklch(0.91944 0.00664 2.0443);
  --ring: oklch(0.58588 0.22209 17.5549);
}

.dark {
  --background: oklch(0.14668 0.00412 49.31415);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21612 0.00612 56.04353);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.19954 0.00892 3.05193);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.58588 0.22209 17.5549);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.27412 0.00548 286.03291);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.2685 0.00629 34.29756);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.63683 0.20776 25.32589);
  --destructive-foreground: oklch(0.985 0 0);
  --muted: oklch(0.26905 0.01292 48.21802);
  --muted-foreground: oklch(0.985 0 0);
  --border: oklch(0.27126 0.01467 3.30096);
  --input: oklch(0.27126 0.01467 3.30096);
  --ring: oklch(0.58588 0.22209 17.5549);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
